@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&family=Heebo:wght@500&display=swap');


.title{
    font-family: 'Epilogue', sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    text-shadow: 1px 4px 4px #000000;
    opacity: 1;
    animation: fadeIn 1s ease-in;
    transition: opacity 0.5s ease-in;
}


.paragraft{
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justify;
    text-shadow: 1px 1px 3px #000000;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


#button-submit{
    color: white; 
    background: rgba(255, 100, 100, 1);
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    
    width: 208px;
    height: 47px;
    top: 476px;
    border-radius: 2px;
    margin-top: 30px;

    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


.paragraft-1{
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


.paragraft-2{
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


.picture{
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}